.todo_form_container {
	padding-top: 20px;
}

.input {
	height: 42px;
	width: 50%;
}
.button {
	height: 42px;
	width: 10%;
}

@media (max-width: 772px) {
	.button {
		width: 20%;
	}
	.input {
		width: 60%;
	}
}
@media (max-width: 480px) {
	.todo_form_container {
		padding-top: 50px;
	}
}
