.App {
  text-align: center;
  min-height: 100vh;
  min-width: 100%;
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

.edited {
  filter: blur(5px);
}
